<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pos %><br>
    <%= f.text_field :pos %>
  </div>
  <div class="field">
    <%= f.label :seed %><br>
    <%= f.text_field :seed %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :off_eff %><br>
    <%= f.text_field :off_eff %>
  </div>
  <div class="field">
    <%= f.label :def_eff %><br>
    <%= f.text_field :def_eff %>
  </div>
  <div class="field">
    <%= f.label :tempo %><br>
    <%= f.text_field :tempo %>
  </div>
  <div class="field">
    <%= f.label :off_efg %><br>
    <%= f.text_field :off_efg %>
  </div>
  <div class="field">
    <%= f.label :def_efg %><br>
    <%= f.text_field :def_efg %>
  </div>
  <div class="field">
    <%= f.label :off_turnover %><br>
    <%= f.text_field :off_turnover %>
  </div>
  <div class="field">
    <%= f.label :def_turnover %><br>
    <%= f.text_field :def_turnover %>
  </div>
  <div class="field">
    <%= f.label :off_reb %><br>
    <%= f.text_field :off_reb %>
  </div>
  <div class="field">
    <%= f.label :def_reb %><br>
    <%= f.text_field :def_reb %>
  </div>
  <div class="field">
    <%= f.label :off_fta_rate %><br>
    <%= f.text_field :off_fta_rate %>
  </div>
  <div class="field">
    <%= f.label :def_fta_rate %><br>
    <%= f.text_field :def_fta_rate %>
  </div>
  <div class="field">
    <%= f.label :off_three_point_pct %><br>
    <%= f.text_field :off_three_point_pct %>
  </div>
  <div class="field">
    <%= f.label :def_three_point_pct %><br>
    <%= f.text_field :def_three_point_pct %>
  </div>
  <div class="field">
    <%= f.label :off_two_point_pct %><br>
    <%= f.text_field :off_two_point_pct %>
  </div>
  <div class="field">
    <%= f.label :def_two_point_pct %><br>
    <%= f.text_field :def_two_point_pct %>
  </div>
  <div class="field">
    <%= f.label :off_ft_pct %><br>
    <%= f.text_field :off_ft_pct %>
  </div>
  <div class="field">
    <%= f.label :def_ft_pct %><br>
    <%= f.text_field :def_ft_pct %>
  </div>
  <div class="field">
    <%= f.label :off_block_pct %><br>
    <%= f.text_field :off_block_pct %>
  </div>
  <div class="field">
    <%= f.label :def_block_pct %><br>
    <%= f.text_field :def_block_pct %>
  </div>
  <div class="field">
    <%= f.label :off_steal_pct %><br>
    <%= f.text_field :off_steal_pct %>
  </div>
  <div class="field">
    <%= f.label :off_3pa_per_fga %><br>
    <%= f.text_field :off_3pa_per_fga %>
  </div>
  <div class="field">
    <%= f.label :def_3pa_per_fga %><br>
    <%= f.text_field :def_3pa_per_fga %>
  </div>
  <div class="field">
    <%= f.label :off_assist_rate %><br>
    <%= f.text_field :off_assist_rate %>
  </div>
  <div class="field">
    <%= f.label :def_assist_rate %><br>
    <%= f.text_field :def_assist_rate %>
  </div>
  <div class="field">
    <%= f.label :off_3_point_dist %><br>
    <%= f.text_field :off_3_point_dist %>
  </div>
  <div class="field">
    <%= f.label :def_3_point_dist %><br>
    <%= f.text_field :def_3_point_dist %>
  </div>
  <div class="field">
    <%= f.label :off_2_point_dist %><br>
    <%= f.text_field :off_2_point_dist %>
  </div>
  <div class="field">
    <%= f.label :def_2_point_dist %><br>
    <%= f.text_field :def_2_point_dist %>
  </div>
  <div class="field">
    <%= f.label :off_ft_point_dist %><br>
    <%= f.text_field :off_ft_point_dist %>
  </div>
  <div class="field">
    <%= f.label :def_ft_point_dist %><br>
    <%= f.text_field :def_ft_point_dist %>
  </div>
  <div class="field">
    <%= f.label :sos %><br>
    <%= f.text_field :sos %>
  </div>
  <div class="field">
    <%= f.label :bench_minutes %><br>
    <%= f.text_field :bench_minutes %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_field :experience %>
  </div>
  <div class="field">
    <%= f.label :effective_height %><br>
    <%= f.text_field :effective_height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
