<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Pos</th>
      <th>Seed</th>
      <th>School</th>
      <th> Games Won </th>
      <th>Off eff</th>
      <th>Def eff</th>
      <th>Tempo</th>
      <th>Off efg</th>
      <th>Def efg</th>
      <th>Off turnover</th>
      <th>Def turnover</th>
      <th>Off reb</th>
      <th>Def reb</th>
      <th>Off fta rate</th>
      <th>Def fta rate</th>
      <th>Off three point pct</th>
      <th>Def three point pct</th>
      <th>Off two point pct</th>
      <th>Def two point pct</th>
      <th>Off ft pct</th>
      <th>Def ft pct</th>
      <th>Off block pct</th>
      <th>Def block pct</th>
      <th>Off steal pct</th>
      <th>Off 3pa per fga</th>
      <th>Def 3pa per fga</th>
      <th>Off assist rate</th>
      <th>Def assist rate</th>
      <th>Off 3 point dist</th>
      <th>Def 3 point dist</th>
      <th>Off 2 point dist</th>
      <th>Def 2 point dist</th>
      <th>Off ft point dist</th>
      <th>Def ft point dist</th>
      <th>Sos</th>
      <th>Bench minutes</th>
      <th>Experience</th>
      <th>Effective height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.pos %></td>
        <td><%= team.seed %></td>
        <td><%= team.school %></td>
        <td><%= team.games_won%></td>
        <td><%= team.off_eff %></td>
        <td><%= team.def_eff %></td>
        <td><%= team.tempo %></td>
        <td><%= team.off_efg %></td>
        <td><%= team.def_efg %></td>
        <td><%= team.off_turnover %></td>
        <td><%= team.def_turnover %></td>
        <td><%= team.off_reb %></td>
        <td><%= team.def_reb %></td>
        <td><%= team.off_fta_rate %></td>
        <td><%= team.def_fta_rate %></td>
        <td><%= team.off_three_point_pct %></td>
        <td><%= team.def_three_point_pct %></td>
        <td><%= team.off_two_point_pct %></td>
        <td><%= team.def_two_point_pct %></td>
        <td><%= team.off_ft_pct %></td>
        <td><%= team.def_ft_pct %></td>
        <td><%= team.off_block_pct %></td>
        <td><%= team.def_block_pct %></td>
        <td><%= team.off_steal_pct %></td>
        <td><%= team.off_3pa_per_fga %></td>
        <td><%= team.def_3pa_per_fga %></td>
        <td><%= team.off_assist_rate %></td>
        <td><%= team.def_assist_rate %></td>
        <td><%= team.off_3_point_dist %></td>
        <td><%= team.def_3_point_dist %></td>
        <td><%= team.off_2_point_dist %></td>
        <td><%= team.def_2_point_dist %></td>
        <td><%= team.off_ft_point_dist %></td>
        <td><%= team.def_ft_point_dist %></td>
        <td><%= team.sos %></td>
        <td><%= team.bench_minutes %></td>
        <td><%= team.experience %></td>
        <td><%= team.effective_height %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
