<p id="notice"><%= notice %></p>

<p>
  <strong>Pos:</strong>
  <%= @team.pos %>
</p>

<p>
  <strong>Seed:</strong>
  <%= @team.seed %>
</p>

<p>
  <strong>School:</strong>
  <%= @team.school %>
</p>

<p>
  <strong>Off eff:</strong>
  <%= @team.off_eff %>
</p>

<p>
  <strong>Def eff:</strong>
  <%= @team.def_eff %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @team.tempo %>
</p>

<p>
  <strong>Off efg:</strong>
  <%= @team.off_efg %>
</p>

<p>
  <strong>Def efg:</strong>
  <%= @team.def_efg %>
</p>

<p>
  <strong>Off turnover:</strong>
  <%= @team.off_turnover %>
</p>

<p>
  <strong>Def turnover:</strong>
  <%= @team.def_turnover %>
</p>

<p>
  <strong>Off reb:</strong>
  <%= @team.off_reb %>
</p>

<p>
  <strong>Def reb:</strong>
  <%= @team.def_reb %>
</p>

<p>
  <strong>Off fta rate:</strong>
  <%= @team.off_fta_rate %>
</p>

<p>
  <strong>Def fta rate:</strong>
  <%= @team.def_fta_rate %>
</p>

<p>
  <strong>Off three point pct:</strong>
  <%= @team.off_three_point_pct %>
</p>

<p>
  <strong>Def three point pct:</strong>
  <%= @team.def_three_point_pct %>
</p>

<p>
  <strong>Off two point pct:</strong>
  <%= @team.off_two_point_pct %>
</p>

<p>
  <strong>Def two point pct:</strong>
  <%= @team.def_two_point_pct %>
</p>

<p>
  <strong>Off ft pct:</strong>
  <%= @team.off_ft_pct %>
</p>

<p>
  <strong>Def ft pct:</strong>
  <%= @team.def_ft_pct %>
</p>

<p>
  <strong>Off block pct:</strong>
  <%= @team.off_block_pct %>
</p>

<p>
  <strong>Def block pct:</strong>
  <%= @team.def_block_pct %>
</p>

<p>
  <strong>Off steal pct:</strong>
  <%= @team.off_steal_pct %>
</p>

<p>
  <strong>Off 3pa per fga:</strong>
  <%= @team.off_3pa_per_fga %>
</p>

<p>
  <strong>Def 3pa per fga:</strong>
  <%= @team.def_3pa_per_fga %>
</p>

<p>
  <strong>Off assist rate:</strong>
  <%= @team.off_assist_rate %>
</p>

<p>
  <strong>Def assist rate:</strong>
  <%= @team.def_assist_rate %>
</p>

<p>
  <strong>Off 3 point dist:</strong>
  <%= @team.off_3_point_dist %>
</p>

<p>
  <strong>Def 3 point dist:</strong>
  <%= @team.def_3_point_dist %>
</p>

<p>
  <strong>Off 2 point dist:</strong>
  <%= @team.off_2_point_dist %>
</p>

<p>
  <strong>Def 2 point dist:</strong>
  <%= @team.def_2_point_dist %>
</p>

<p>
  <strong>Off ft point dist:</strong>
  <%= @team.off_ft_point_dist %>
</p>

<p>
  <strong>Def ft point dist:</strong>
  <%= @team.def_ft_point_dist %>
</p>

<p>
  <strong>Sos:</strong>
  <%= @team.sos %>
</p>

<p>
  <strong>Bench minutes:</strong>
  <%= @team.bench_minutes %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @team.experience %>
</p>

<p>
  <strong>Effective height:</strong>
  <%= @team.effective_height %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
