{{#with team}}
<div> <h4> &nbsp; </h4> </div>
<div> {{defEfg}} </div>
<div> {{defTurnover}} </div>
<div> {{defReb}} </div>
<div> {{defFtaRate}} </div>
<div> <h4> &nbsp; </h4>  </div>
<div> {{defThreePointPct}}</div>
<div> {{defTwoPointPct}} </div>
<div> {{defFtPct}} </div>
<div> {{defBlockPct}} </div>
<div> {{defStealPct}} </div>
<div> <h4> &nbsp; </h4> </div>
<div> {{def3paPerFga}} </div>
<div> {{defAssistRate}} </div>
<div> <h4> &nbsp; </h4> </div>
<div> {{def3PointDist}} </div>
<div> {{def2PointDist}} </div>
<div> {{defFtPointDist}} </div>
{{/with}}
