{{#with team}}
<div> <h4> &nbsp; </h4> </div>
<div> {{offEfg}} </div>
<div> {{offTurnover}} </div>
<div> {{offReb}} </div>
<div> {{offFtaRate}} </div>
<div> <h4> &nbsp; </h4>  </div>
<div> {{offThreePointPct}}</div>
<div> {{offTwoPointPct}} </div>
<div> {{offFtPct}} </div>
<div> {{offBlockPct}} </div>
<div> {{offStealPct}} </div>
<div> <h4> &nbsp; </h4> </div>
<div> {{off3paPerFga}} </div>
<div> {{offAssistRate}} </div>
<div> <h4> &nbsp; </h4> </div>
<div> {{off3PointDist}} </div>
<div> {{off2PointDist}} </div>
<div> {{offFtPointDist}} </div>
{{/with}}
