{{#with average}}
<div> <h4> Four Factors </h4> </div>
<div class="colorless-border"> eFG% ({{efg}})</div>
<div class="colorless-border"> Turnover% ({{turnover}})</div>
<div class="colorless-border"> Offensive Reb % ({{reb}}) </div>
<div class="colorless-border colorless-border-bottom"> FTA/FGA ({{fta_rate}}) </div>
<div> <h4> Miscellaneous </h4> </div>
<div class="colorless-border"> 3P% ({{three_point_pct}})</div>
<div class="colorless-border"> 2P% ({{two_point_pct}})</div>
<div class="colorless-border"> FT% ({{ft_pct}})</div>
<div class="colorless-border"> Block% ({{block_pct}})</div>
<div class="colorless-border colorless-border-bottom"> Steal% ({{steal_pct}})</div>
<div> <h4> Style Components </h4> </div>
<div class="colorless-border"> 3PA/FGA ({{three_pa_per_fga}})</div>
<div class="colorless-border colorless-border-bottom"> A/FGM ({{assist_rate}})</div>
<div> <h4> Point Distribution </h4> </div>
<div class="colorless-border"> 3-pointers ({{three_point_dist}})</div>
<div class="colorless-border"> 2-Pointers ({{two_point_dist}})</div>
<div class="colorless-border colorless-border-bottom"> Free Throws ({{ft_point_dist}})</div>
{{/with}}
