{{#with average}}
<div> <h4> Four Factors </h4> </div>
<div> eFG% ({{efg}})</div>
<div> Turnover% ({{turnover}})</div>
<div> Offensive Reb % ({{reb}}) </div>
<div> FTA/FGA ({{fta_rate}}) </div>
<div> <h4> Miscellaneous </h4> </div>
<div> 3P% ({{three_point_pct}})</div>
<div> 2P% ({{two_point_pct}})</div>
<div> FT% ({{ft_pct}})</div>
<div> Block% ({{block_pct}})</div>
<div> Steal% ({{steal_pct}})</div>
<div> <h4> Style Components </h4> </div>
<div> 3PA/FGA ({{three_pa_per_fga}})</div>
<div> A/FGM ({{assist_rate}})</div>
<div> <h4> Point Distribution </h4> </div>
<div> 3-pointers ({{three_point_dist}})</div>
<div> 2-Pointers ({{two_point_dist}})</div>
<div> Free Throws ({{ft_point_dist}})</div>
{{/with}}
