<div class="row">
  <div class="col-xs-4"> Team 1 </div>
  <div class="col-xs-4"> Stat Category (NCAA Averages) </div>
  <div class="col-xs-4"> Team 2 </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> </h4>
    {{stat-categories}}
  </div>
  <div class="col-xs-4">
    {{defense-stats team=team2}}
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <h4> Defense </h4>
    {{defense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> </h4>
    {{stat-categories}}
  </div>
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats teaem=team2}}
  </div>
</div>
