<p id="notice"><%= notice %></p>

<p>
  <strong>Eff:</strong>
  <%= @average.eff %>
</p>

<p>
  <strong>Efg:</strong>
  <%= @average.efg %>
</p>

<p>
  <strong>Turnover:</strong>
  <%= @average.turnover %>
</p>

<p>
  <strong>Reb:</strong>
  <%= @average.reb %>
</p>

<p>
  <strong>Fta rate:</strong>
  <%= @average.fta_rate %>
</p>

<p>
  <strong>Three point pct:</strong>
  <%= @average.three_point_pct %>
</p>

<p>
  <strong>Two point pct:</strong>
  <%= @average.two_point_pct %>
</p>

<p>
  <strong>Ft pct:</strong>
  <%= @average.ft_pct %>
</p>

<p>
  <strong>Block pct:</strong>
  <%= @average.block_pct %>
</p>

<p>
  <strong>Steal pct:</strong>
  <%= @average.steal_pct %>
</p>

<p>
  <strong>Three pa per fga:</strong>
  <%= @average.three_pa_per_fga %>
</p>

<p>
  <strong>Assist rate:</strong>
  <%= @average.assist_rate %>
</p>

<p>
  <strong>Three point dist:</strong>
  <%= @average.three_point_dist %>
</p>

<p>
  <strong>Two point dist:</strong>
  <%= @average.two_point_dist %>
</p>

<p>
  <strong>Ft point dist:</strong>
  <%= @average.ft_point_dist %>
</p>

<p>
  <strong>Sos:</strong>
  <%= @average.sos %>
</p>

<p>
  <strong>Bench minutes:</strong>
  <%= @average.bench_minutes %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @average.experience %>
</p>

<p>
  <strong>Effective height:</strong>
  <%= @average.effective_height %>
</p>

<%= link_to 'Edit', edit_average_path(@average) %> |
<%= link_to 'Back', averages_path %>
