<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @game.id %>
</p>

<p>
  <strong>Uniq Game Id:</strong>
  <%= @game.uniq_game_id %>
</p>


<p>
  <strong>Bracket:</strong>
  <%= @game.bracket_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game.bracket_game_id %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @game.teams.map { |team| team.id } %>
</p>


<p>
  <strong>Winner Id:</strong>
  <%= @game.winner_id %>
</p>

<p>
  <strong>In bracket:</strong>
  <%= @game.in_bracket %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
