<div class="row" style="text-align:center;">
  <div class="col-xs-4"> <h3> Team 1 </h3> </div>
  <div class="col-xs-4"> <h5> Stat Category (NCAA Averages) </h5> </div>
  <div class="col-xs-4"> <h3> Team 2 </h3></div>
</div>

<div style="text-align:center;"> <h4> Summary </h4> </div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    {{#with team1}}
    <div> {{school}} </div>
    <div> {{offEff}} </div>
    <div> {{defEff}} </div>
    <div> {{tempo}} </div>
    <div> 98.3 </div>
    <div> 2.32 </div>
    <div> +3.2 </div>
    {{/with}}
  </div>
  <div class="col-xs-4">
    <div> Offensive Effiency </div>
    <div> Defensive Effiency </div>
    <div> Tempo </div>
    <div> Strength of Schedule </div>
    <div> Experience </div>
    <div> Effective Height </div>
  </div>
  <div class="col-xs-4">
    {{#with team2}}
    <div> {{school}} </div>
    <div> {{offEff}} </div>
    <div> {{defEff}} </div>
    <div> {{tempo}} </div>
    <div> 103.1 </div>
    <div> 3.32 </div>
    <div> -0.2 </div>
    {{/with}}
  </div>
</div>



<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> &nbsp; </h4>
    {{stat-categories}}
  </div>
  <div class="col-xs-4">
    <h4> Defense </h4>
    {{defense-stats team=team2}}
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    <h4> Defense </h4>
    {{defense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> &nbsp;</h4>
    {{stat-categories}}
  </div>
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats team=team2}}
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4"> <button {{action pickWinner team1}}> Pick Team 1 </button></div>
  <div class="col-xs-4"></div>
  <div class="col-xs-4"> <button {{action pickWinner team2 }}> Pick Team 2 </button></div>
</div>
