<div class="row" style="text-align:center;">
  <div class="col-xs-4"> <h3> Team 1 </h3> </div>
  <div class="col-xs-4"> <h5> Stat Category (NCAA Averages) </h5> </div>
  <div class="col-xs-4"> <h3> Team 2 </h3></div>
</div>

<div style="text-align:center;"> <h4> Summary </h4> </div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    {{#with team1}}
    <div class="stat-row">
      {{#view 'stat' rank=offEffRank}}
        <span class="stat"> {{offEff}} </span>
        <span class="rank"> {{offEffRank}} </span>
      {{/view}}
    </div>
    <div class="stat-row">
      {{#view 'stat' rank=defEffRank}}
        <span class="stat"> {{defEff}} </span>
        <span class="rank"> {{defEffRank}} </span>
      {{/view}}
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{tempo}} </span>
        <span class="rank"> {{tempoRank}} </span>
      </span>
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{sos}} </span>
        <span class="rank"> {{sosRank}} </span>
      </span>
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{experience}} </span>
        <span class="rank"> {{experienceRank}} </span>
      </span>
    </div>
    {{/with}}
  </div>
  <div class="col-xs-4">
      {{#with average}}
      <div> Offensive Effiency ({{eff}}) </div>
      <div> Defensive Effiency ({{eff}})</div>
      <div> Tempo ({{tempo}}) </div>
      <div> Strength of Schedule ({{sos}}) </div>
      <div> Experience ({{experience}}) </div>
    {{/with}}
  </div>
  <div class="col-xs-4">
    {{#with team2}}
    <div class="stat-row">
      {{#view 'stat' rank=offEffRank}}
        <span class="stat"> {{offEff}} </span>
        <span class="rank"> {{offEffRank}} </span>
      {{/view}}
    </div>
    <div class="stat-row">
      {{#view 'stat' rank=defEffRank}}
        <span class="stat"> {{defEff}} </span>
        <span class="rank"> {{defEffRank}} </span>
      {{/view}}
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{tempo}} </span>
        <span class="rank"> {{tempoRank}} </span>
      </span>
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{sos}} </span>
        <span class="rank"> {{sosRank}} </span>
      </span>
    </div>
    <div class="stat-row">
      <span class="styled-stat-box styled-stat-box-colorless">
        <span class="stat"> {{experience}} </span>
        <span class="rank"> {{experienceRank}} </span>
      </span>
    </div>
    {{/with}}
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> &nbsp; </h4>
    {{stat-categories average=average}}
  </div>
  <div class="col-xs-4">
    <h4> Defense </h4>
    {{defense-stats team=team2}}
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    <h4> Defense </h4>
    {{defense-stats team=team1}}
  </div>
  <div class="col-xs-4">
    <h4> &nbsp;</h4>
    {{stat-categories average=average}}
  </div>
  <div class="col-xs-4">
    <h4> Offense </h4>
    {{offense-stats team=team2}}
  </div>
</div>

<div class="row" style="text-align:center; padding-top:10px;">
  <div class="col-xs-4">
    <button class="btn btn-default" {{action pickWinner team1}}> Pick Team 1 </button>
  </div>
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <button class="btn btn-default" {{action pickWinner team2 }}> Pick Team 2 </button>
  </div>
</div>
